name: test-wasi

# Inspired by:
# https://github.com/zonedb/zonedb/blob/main/.github/workflows/go.yaml
# MIT Licensed

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

env:
  # See https://github.com/webassembly/binaryen/releases
  binaryen_version: "123" # 124/36.0.2 fails
  # https://github.com/bytecodealliance/wasmtime/releases
  # include leading 'v'
  wasmtime_version: v36.0.1 # 124/36.0.2 fails

jobs:
  test-wasi: # act fails if tag ends with a '1', so we aren't using test-wasip1
    name: test-wasi
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      fail-fast: false
      # This is a special matrix that tests against the listed version AND the
      # Go version from go.mod. See usage in the actions/setup-go step.
      matrix:
        go-version:
          # - big: "1.23.11"
          #   tiny: "0.36.0"
          - big: "1.25"
            tiny: "0.39.0"
          - big: "1.24"
            tiny: "0.38.0"
        # FIXME: TinyGo needs to be manually bumped; it doesn't immediately
        # release support for new major Go versions something should ping when a
        # new version is available.
        # include:
        #   - go-version:
        #       file: "go.mod"
        #       tiny: "0.37.0"

    env:
      GOOS: wasip1
      GOARCH: wasm
      GODEBUG: toolchaintrace=1
      GOTOOLCHAIN: local

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version.big }} # overrides go-version-file when a value is present
          go-version-file: ${{ matrix.go-version.file }}
          check-latest: true

      - run: go mod download

      # - run: printf '::notice ::%s\n' "$(go version)"

      - run: |
          # Add wasm to PATH
          echo "$(go env GOROOT)/misc/wasm" >> "${GITHUB_PATH}"
          echo "$(go env GOROOT)/lib/wasm" >> "${GITHUB_PATH}"

      - run: which go_wasip1_wasm_exec

      - uses: acifani/setup-tinygo@v2.0.1
        with:
          tinygo-version: "${{ matrix.go-version.tiny }}"
          binaryen-version: "${{ env.binaryen_version }}"

      - run: wasm-opt --version

      - uses: bytecodealliance/actions/wasmtime/setup@v1.1.2
        with:
          version: "${{ env.wasmtime_version }}"

      # https://go.dev/blog/wasi#running-go-tests-with-wasip1
      - run: |
          go test -covermode=atomic -coverprofile=coverage.out -coverpkg=. .
          sed -i.bak "/compat\/cmd\//d; /compat\/golang\//d;" coverage.out
          rm -f *.bak

      - run: tinygo test -v -target=${{ env.GOOS }} -tags tinygo .
        # used to work, now it's crashing, so:
        continue-on-error: true

      # - run: tinygo test -bench -target=${{ env.GOOS }} -tags tinygo ./

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          fail_ci_if_error: false
          files: ./coverage.out
          name: coverage-${{ env.GOOS }}
          token: ${{ secrets.CODECOV_TOKEN }}
